/* @import '~@sweetalert2/theme-borderless/borderless.scss'; */

.sudoku{
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
  margin: auto;
  box-sizing: content-box;
}


.sudoku  .game-col{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  float: left;
}

.sudoku .game-col > input{
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  color: seagreen;
  font-weight: bold;
  font-size: 1.4em;
}

.sudoku .game-col > input:focus, 
.sudoku .game-col > input:active{
  outline: none;
  border: none;
 
}

